In [2]:
n = int(input())
for _i in int(n):
    print("{}**{}".range(_i, _i))

5

TypeError: 'int' object is not iterable

In [1]:
some_text = "Python is very easy and efficent language."

In [2]:
len(some_text)

42

In [4]:
some_text[10:14+1]  # 관습적으로 읽기 쉽게 +1 로 표기해준다

'very '

In [5]:
some_text[0]

'P'

In [8]:
some_text[26]

'f'

In [11]:
some_text[11:20+1:2]

'eyes '

In [14]:
some_text[::-2] # -를 붙이면 반대로 step 한다,

'.gunlteif n seye inhy'

In [16]:
some_text[-1:-(len(some_text)+1):-1] # 뒤로 뛰게 만들기 위해서는 step 에 -1를 꼭 붙여야함. 왜냐하면 붙이지 않았을때는 진행 방향을 정방향으로 인식하기 때문

'.egaugnal tneciffe dna ysae yrev si nohtyP'

In [17]:
some_text[0] = 'p' # 한번 선언된 문자열은 그 내부의 문자열을 바꾸는 것이 불가능하다

TypeError: 'str' object does not support item assignment

In [18]:
some_text.count("e") # count를 쓰면 some_text에서 e의 개수를 찾는다, 리턴 값이 해당 글자와 일치하는 것의 갯수

5

In [19]:
some_text.find("i") # find는 어떠한 문자의 위치를 알려준다, 리턴값이 해당 글자의 위치

7

In [20]:
comma = ","

In [22]:
new_some_text = comma.join(some_text)
new_some_text

'P,y,t,h,o,n, ,i,s, ,v,e,r,y, ,e,a,s,y, ,a,n,d, ,e,f,f,i,c,e,n,t, ,l,a,n,g,u,a,g,e,.'

In [24]:
new_some_text.split(',') # [] 묶음 자료형, list

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'e',
 'a',
 's',
 'y',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'e',
 'f',
 'f',
 'i',
 'c',
 'e',
 'n',
 't',
 ' ',
 'l',
 'a',
 'n',
 'g',
 'u',
 'a',
 'g',
 'e',
 '.']

In [28]:
# 1. 공백을 기준으로 split
some_text.split(' ') 
# '' 없이 ()비워놓고 써도 된다 ===> some_text.split()

['Python', 'is', 'very', 'easy', 'and', 'efficent', 'language.']

In [29]:
# 2. 'and'를 기준으로 split
some_text.split('and')

['Python is very easy ', ' efficent language.']

In [31]:
crawled_text = "a \n b \n c \n"
crawled_text.split('\n')

['a ', ' b ', ' c ', '']

In [39]:
some_text.replace('Python', 'javaScript')

'javaScript is very easy and efficent language.'

In [38]:
some_text

'javaScript is very easy and efficent language.'

In [41]:
# strip 이 쓰이는 경우 : 원하는 데이터는 a,b 인데 쓸데 없는 데이터가 너무 많을 때 쓴다
text_to_be_stripped = "           a \n b \n        "

In [42]:
text_to_be_stripped.strip()
# 중간에 나오는 것은 할 수 없다. ()안에 지우고 싶은 반복되는 데이터를 입력한다

'a \n b'

In [43]:
text_to_be_stripped = "       ,,,,.... a \n b \n ,,,,......      "

In [51]:
text_to_be_stripped.strip(',. \n').split(' ') # 반복되는 지우고 싶은 문자들을 나열해도 지워진다

['a', '\n', 'b']

In [55]:
# 최종 결과물: ['a', 'b'] hint: replace, split
text_to_be_stripped.strip(',. ').replace(' \n', '').split()
# strip을 한 결과물이 string으로 나왔기 때문에 뒤에 replace와 split을 쓸 수 있는 것이다.

['a', 'b']

# String Formatting

In [56]:
"야생의 피카츄(이)가 나타났다!!"

'야생의 피카츄(이)가 나타났다!!'

In [57]:
script = "야생의 피카츄(이)가 나타났다."

In [58]:
script

'야생의 피카츄(이)가 나타났다.'

In [63]:
monster = '쥬벳'
script = "야생의 {}(이)가 나타났다.".format(monster)
script

'야생의 쥬벳(이)가 나타났다.'

In [64]:
a = input("what's your name? ")
script = "{}님은 바보로 판정되었습니다.".format(a)
script

what's your name? 김패캠

'김패캠님은 바보로 판정되었습니다.'

In [65]:
# documentation 활용하기
print("a","b","c", sep = "\n")

a
b
c

In [68]:
pen = "pen"
fruit = "apple"
print("I have a {1}, I have a(an) {0}.".format(pen, fruit))

# {}안에 숫자는 index다,

I have a apple, I have a(an) pen.

In [70]:
some_num = 1
some_text = "Hi"

In [71]:
nums = [1,2,3,4,5] # 묶음 자료형 [], 원래는 여러 자료를 넣을때는 여러 변수에 넣고 다시 넣어야하는 번거로움이 있다.

In [72]:
texts = ["Hi","hello"]

In [73]:
# List, tuple === > tuple에는 한번 설정된 데이터는 변경할 수 없다.(타임캡슐), list는 칸이 존재하는 반찬통 같이 변경할 수 있다.

In [87]:
empty_list = []
empty_list

[]

In [89]:
empty_list.append("A")

In [90]:
empty_list

['A']

In [92]:
empty_list.append("B")
empty_list.append("C")
empty_list.append("D")
empty_list.append("E")

In [93]:
empty_list

['A', 'B', 'B', 'C', 'D', 'E']

In [94]:
filled_list = ["A","C","E","G"]
filled_list

['A', 'C', 'E', 'G']

In [95]:
filled_list.insert(1, "B")
filled_list

['A', 'B', 'C', 'E', 'G']

In [96]:
filled_list.insert(3, "D")
filled_list

['A', 'B', 'C', 'D', 'E', 'G']

In [97]:
filled_list.insert(5, "F")
filled_list

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [99]:
filled_list.insert(6, "H")
filled_list

['A', 'B', 'C', 'D', 'E', 'F', 'H', 'H', 'G']

In [108]:
filled_list.remove("H")

ValueError: list.remove(x): x not in list

In [103]:
filled_list[1]

'B'

In [106]:
filled_list.remove(filled_list[1])
filled_list

['A', 'F', 'H', 'G']

In [109]:
filled_list.pop(2)

'G'

In [110]:
filled_list

['A', 'F']

In [122]:
monsters = ["피카츄","파이리","꼬부기"]
monster = monsters.pop(2)
script = "야생의 {}(이)가 나타났다.".format(monster)
script

'야생의 꼬부기(이)가 나타났다.'

In [126]:
# 정렬

In [133]:
nums = [1, -3824, 12.3, 2.71828, 3.14, -9.8, 38201, 291293, -10000]

In [124]:
nums.sort()

In [125]:
nums

[-10000, -3824, -9.8, 1, 2.71828, 3.14, 12.3, 38201, 291293]

In [134]:
nums.reverse()

In [135]:
nums

[-10000, 291293, 38201, -9.8, 3.14, 2.71828, 12.3, -3824, 1]

In [136]:
nums.sort(reverse=True)

In [137]:
nums

[291293, 38201, 12.3, 3.14, 2.71828, 1, -9.8, -3824, -10000]

In [140]:
nums[2:3+1]

[12.3, 3.14]

In [147]:
nums[2] = 3.1415
nums

[291293, 38201, 3.1415, 3.14, 2.71828, 1, -9.8, -3824, -10000]

In [142]:
new_nums = nums + [2,3,4]

In [148]:
new_nums

[291293,
 38201,
 3.1415,
 3.14,
 2.71828,
 1,
 -9.8,
 -3824,
 -10000,
 2,
 3,
 4,
 7,
 8,
 9]

In [149]:
new_nums.extend([7,8,9])
new_nums

[291293,
 38201,
 3.1415,
 3.14,
 2.71828,
 1,
 -9.8,
 -3824,
 -10000,
 2,
 3,
 4,
 7,
 8,
 9,
 7,
 8,
 9]

In [150]:
new_nums

[291293,
 38201,
 3.1415,
 3.14,
 2.71828,
 1,
 -9.8,
 -3824,
 -10000,
 2,
 3,
 4,
 7,
 8,
 9,
 7,
 8,
 9]

In [152]:
tuple1 = ()
tuple1.append(1)
tuple1

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
tuple1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [157]:
tuple1 = (1,2,3)
tuple1

(1, 2, 3)

In [158]:
listed_tuple = list(tuple1)
listed_tuple

[1, 2, 3]

In [160]:
listed_tuple.append(5)
tuple1 = tuple(listed_tuple)
tuple1

(1, 2, 3, 5, 5)

In [166]:
x = 1
y = 100
temp = 0

In [168]:
temp = x
x = y
y = temp
print(x, y)

100 1

In [169]:
x = 1
y = 100
(y,x) = (x,y)
print(x,y)

100 1

In [170]:
# name, adress, call, mail
# 김패캠, 서울, 010, naver
# 박패캠, 부산, 020, gmail

In [4]:
user_data = {}
user_data["name"] = "김패캠"
user_data

{'name': '김패캠'}

In [5]:
user_data["adress"] = "서울"
user_data["call"] = "010"
user_data["mail"] = "naver"
user_data

{'name': '김패캠', 'adress': '서울', 'call': '010', 'mail': 'naver'}

In [6]:
del user_data['name']
user_data

{'adress': '서울', 'call': '010', 'mail': 'naver'}

In [7]:
some_list = [[1,2,3],[4,5,6],{'name':"김"}]
some_list

[[1, 2, 3], [4, 5, 6], {'name': '김'}]

In [8]:
user_data["score"] = {"국어":74, "수학":20, "영어": True, "과탐":[12,23,25,50]}
user_data

{'adress': '서울',
 'call': '010',
 'mail': 'naver',
 'score': {'국어': 74, '수학': 20, '영어': True, '과탐': [12, 23, 25, 50]}}

In [9]:
user_data.keys()

dict_keys(['adress', 'call', 'mail', 'score'])

In [10]:
user_data.values()

dict_values(['서울', '010', 'naver', {'국어': 74, '수학': 20, '영어': True, '과탐': [12, 23, 25, 50]}])

In [12]:
listed_dict = list(user_data.items())
listed_dict[1]

('call', '010')

In [ ]:
A = 'fastcampus'
B = 'python'

In [14]:
# quiz
# A = "f a s t c a m p u s" => "f a s t c m p u"
# B = "p y t h o n"

# 합집합 = "f a s t c m p u y h o n"
# 교집합 = "p t"
# 차집합 = "s f c u m a"
# 대칭차 = "f a s c m u y h o n"

In [15]:
set_a = set("fastcampus") # 집합으로 정렬, 중복을 제거할때도 사용한다 
set_a

{'a', 'c', 'f', 'm', 'p', 's', 't', 'u'}

In [16]:
set_b = set("python")
set_b

{'h', 'n', 'o', 'p', 't', 'y'}

In [17]:
set_a | set_b # 합집합

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [18]:
set_a & set_b # 교집합

{'p', 't'}

In [19]:
set_a - set_b #차집합

{'a', 'c', 'f', 'm', 's', 'u'}

In [20]:
set_a ^ set_b # 대칭차

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [21]:
ppap = ['pen','pine','apple','apple','pen']

In [24]:
set_ppap = list(set(ppap)) # set은 중복을 제거할 때 사용한다
set_ppap

['pine', 'apple', 'pen']

## 조건문

In [25]:
# if (codition):
#    command1
#    command2

In [33]:
status = "home"
rice = False
if status == "home":
    if rice == True:
        print("밥을 먹는다")
    else:
        print("굶는다")
else:
    print("밖에서 먹는다")

굶는다

In [40]:
status = "outside"
rice = False
cash = 110000
if status == "home":
    if rice == True:
        print("밥을 먹는다")
    else:
        print("굶는다")
else:
    if cash > 100000:
        print("Go to Restaurant")
    else:
        print("Go to CVS")

Go to Restaurant

In [47]:
cash = 21000
if cash > 100000:
    print("Go to Restaurant")
elif cash > 50000:
    print("Go to Go-gi-zip")
elif cash > 20000:
    print("Go to Gim-Cheon")
else:
    print("Go to CVS")

Go to Gim-Cheon

## numguess

In [80]:
import random

answer = random.randint(1,100+1)


# ============
# 1. 사용자 입력
guess = int(input("1부터 100사이의 수를 입력하세요: "))
# 2. 정답과 비교
if answer == guess:
    # 2-1. 맞을때
    print("정답입니다.")
    # 2-2. 틀릴때
else:
    print("오답입니다. 정답은 {}".format(answer))

1부터 100사이의 수를 입력하세요: 10
오답입니다. 정답은 5

In [81]:
# TODO:
# 1. 맞을때까지 반복한다
# 2. hi-low 추가
# 3. 횟수 제한
## 4. 점수제도
## 5. 코인제도

## Loops, Itrations
## 반복문

In [84]:
for _i in [1,2,3,4,5]:
    print(_i ** 2)

1
4
9
16
25

In [87]:
for _i in range(1,5+1):
    print(_i)

1
2
3
4
5

In [88]:
for _e in ["Fast", "Campus", "Fighting"]:
    print(_e)

Fast
Campus
Fighting

In [91]:
for _c in "Python is awesome language.":
    print(_c)

P
y
t
h
o
n

i
s

a
w
e
s
o
m
e

l
a
n
g
u
a
g
e
.

In [103]:
summed = 0
for _i in range(1, 10+1):
    summed = summed + _i
    print(summed, _i)
print(summed)

1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9
55 10
55

In [ ]:
# Numguess with for

In [1]:
import random

answer = random.randint(1,100+1)

for _i in range(1,5+1):

    guess = int(input("1부터 100사이의 수를 입력하세요 ({}번째): ".format(_i)))
    if answer == guess:
        print("정답입니다.")
        break
    else:
        print("오답입니다. 다시하세요")

print("정답은: {}".format(answer))

1부터 100사이의 수를 입력하세요 (1번째): 3
오답입니다. 다시하세요
1부터 100사이의 수를 입력하세요 (2번째): 4
오답입니다. 다시하세요
1부터 100사이의 수를 입력하세요 (3번째): 5
오답입니다. 다시하세요
1부터 100사이의 수를 입력하세요 (4번째): 6
오답입니다. 다시하세요
1부터 100사이의 수를 입력하세요 (5번째): 7
오답입니다. 다시하세요
정답은: 13

## 숙제
1부터 100까지 정수에 대해서 반복 수행하는

- 3의 배수라면 "fizz"
- 5의 배수라면 "buzz"
- 15의 배수라면 "fizzbuzz"
- 나머지 모든 수는 그냥 그 수를 출력하는

코드블록을 생성하시오.

In [26]:
for _i in range(1,100+1):

    if _i % 15 == 0:
        print("fizzbuzz")
    elif _i % 3 == 0:
        print("fizz")
    elif _i % 5 == 0:
        print("buzz")
    else:
        print(_i)
        
        
## 파이썬은 절차 지향 언어이기 때문에 공배수인 15(3*5)는 이미 위의 3의 배수에서 걸린다.

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz